body{
background-color: lightseagreen;
}

img{
text-align: right;

	}
	
nav{
color: whitesmoke;
text-align:left
}

nav >img{
border-radius: 20px;
max-width: 40px;
max-height: 40px;
}

section{
  font-size: xxx-large;  
  color: aliceblue;
  
}


